<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <!--    <th:block th:include="/common/fragments-util :: doctype-html-head-tags-begin"/>-->
    <th:block th:include="/common/fragments-util :: head"/>
    <th:block th:include="/common/fragments-util :: jQuery-lib"/>
    <th:block th:include="/common/fragments-util :: datatables-css"/>
    <link th:href="@{/static/css/home.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/patient-analizes.css}" rel="stylesheet"/>
    <title th:text="#{navbar.brand}"></title>
</head>
<body>
<div th:replace="/common/fragments-page :: header"/>

<input id="userId" type="hidden" th:value="${#authentication.getPrincipal().getUsername()}">
<div class="main head-block">
    <div class="container ">
        <div class="container ">
            <div class="row text-center">
                <div class="col-xl-3 col-12"></div>
                <div class="col-xl-6 col-12"><h2 th:text="#{analyzes.blood.biochemical.title}"></h2></div>
                <div class="col-xl-3 col-12"></div>
            </div>
        </div>
    </div>
</div>

<div class="main center-block">
    <div class="container">
        <div class="container">
            <div class="row">
                <table id="bio_blood_table" class="table table-striped table-hover text-center" style="width: 100%">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th class="text-center" scope="col" th:text="#{analyzes.blood.biochemical.cholesterol}">First
                        </th>
                        <th class="text-center" scope="col" th:text="#{analyzes.blood.biochemical.glucose}">First</th>
                        <th class="text-center" scope="col" th:text="#{analyzes.blood.biochemical.protein}">First</th>
                        <th class="text-center" scope="col" th:text="#{analyzes.blood.created}">First</th>
                        <th class="text-center" scope="col" th:text="#{analyzes.blood.recommendations}">First</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<!--<div class="main head-block">-->
<!--    <div class="container ">-->
<!--        <div class="container ">-->
<!--            <div class="row">-->
<!--                <div class="col-xl-4 col-12"></div>-->
<!--                <div class="col-xl-4 col-12"><h2 th:text="#{analyzes.blood.general.title}"></h2></div>-->
<!--                <div class="col-xl-4 col-12"></div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="main center-block">-->
<!--    <div class="container">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <table id="general_blood_table" class="table table-striped table-hover" style="width: 100%">-->
<!--                    <thead>-->
<!--                    <tr>-->
<!--                        <th scope="col">#</th>-->
<!--                        <th class="text-center" scope="col" th:text="#{login.username}">First</th>-->
<!--                        <th class="text-center" scope="col" th:text="#{profile.fullName}">First</th>-->
<!--                        <th class="text-center" scope="col" th:text="#{profile.gender}">First</th>-->
<!--                        <th class="text-center" scope="col" th:text="#{profile.role}">First</th>-->
<!--                        <th class="text-center" scope="col" th:text="#{management.status.block}">First</th>-->
<!--                        <th class="text-center" scope="col" th:text="#{management.action}">First</th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                </table>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!-- Modal -->
<div class="modal fade " id="addRecommendation">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="text-end">
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form>
                    <div id='formRecommendation' class="form-group">
                        <label for="recom" class="mb-2" th:text="#{analyzes.blood.recommendations}"></label>
                        <textarea class="form-control" id="recom" rows="3"></textarea>
                    </div>
                    <div id="success" class="text-center alert-info disable mt-2" th:text="#{message.changes.added.success}"></div>
                    <div id="invalidMin" class="text-center alert-warning disable mt-2" th:text="#{label.invalid.min}"></div>
                    <div id="invalidMax" class="text-center alert-warning disable mt-2" th:text="#{label.invalid.max}"></div>
                    <div id="fail" class="text-center alert-warning disable mt-2" th:text="#{message.changes.added.fail}"></div>
                    <button id="send" type="submit" class="btn btn-primary mt-3" th:text="#{label.changes.save.title}"></button>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="/common/fragments-page :: footer"/>
<th:block th:include="/common/fragments-util :: bs-link-js"/>
<th:block th:include="/common/fragments-util :: datatables-js"/>
<script th:src="@{/static/js/patient-analyzes.js}"></script>
</body>
</html>